{% extends "base.html" %}
{% block title %}Orders{% endblock %}
{% block content %}
    <h2 class="mb-4">{{session['fname']}}'s Orders</h2>
    <form action="" method="GET">
        <div class="bg-secondary-subtle rounded container-fluid py-2 mb-4">
            <div class="row gy-3">
                    <div class="col">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search..." name="query"{% if request.args.get('query') %} value="{{request.args.get('query')}}"{% endif %}>
                            <button class="btn btn-outline-secondary" type="submit">Search</button>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-5 col-6">
                        <div class="input-group">
                            <select class="form-select" name="sort">
                                <option {% if not request.args.get('sort') %}selected {% endif %}disabled>Sort...</option>
                                <option {% if request.args.get('sort') == 'ASC' %}selected {% endif %}value="ASC">Date (Ascending)</option>
                                <option {% if request.args.get('sort') == 'DESC' %}selected {% endif %}value="DESC">Date (Descending)</option>
                            </select>
                            <button class="btn btn-outline-secondary" type="submit">Sort</button>
                        </div>
                    </div>
            </div>
        </div>
    </form>
    {% if orders %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Date</th>
                <th scope="col">Total</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <th scope="row">{{order.id}}</th>
                <td>{{order.date}}</td>
                <td>{{ "${:,.2f}".format(order.total) }}</td>
                <td class="text-center"><a href="/account/orders/{{order.id}}" class="btn btn-outline-dark">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <p class="text-center text-muted">No orders found</p>
    {% endif %}

{% endblock content %}